HF_TOKEN=hf_your_token_here
HF_USERNAME=your-hugging-face-username
HF_DATASET_REPO=your-hugging-face-username/tourism
HF_MODEL_REPO=your-hugging-face-username/tourism-package-model
HF_SPACE_REPO=your-hugging-face-username/tourism-package-prediction
MODEL_FILENAME=tourism_xgboost_pipeline.joblib
MLFLOW_EXPERIMENT_NAME=tourism_package_prediction

